.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.calc{
  
  color: black;
  width: 500px;
  height: 700px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(207, 204, 204);
}
.answer{
  height: 200px;
}
.but{
  width: 125px;
  height: 100px;
  background-color: #2d3436;
  border: solid 1px black;
  color: white;
}
.but2{
  width: 500px;
  height: 100px;
  background-color: #b2bec3;
  border: solid 1px black;
  color: white;
  border-radius: 0px 0px 5px 5px;
}
.but4{
  width: 125px;
  height: 100px;
  background-color: #0984e3;
  border: solid 1px black;
  color: white;
}
.result {
  position: absolute;
}
p{
  
  font-size: 40px;
}